-i https://pypi.org/simple
asgiref==3.12.1; python_version >= '3.10'
django==6.1.1; python_version >= '3.12'
sqlparse==0.6.0; python_version >= '3.10'
tzdata==2026.4; python_version >= '2'
python-dotenv
